@import '../../../../mixins';

.features {
  margin-top: 3rem;

  .featureWrapper {
    padding: 0.5rem;

    .feature {
      height: 100%;
      border: 1px solid rgba(255, 255, 255, 0.16);
      font-size: 1rem;
    }
  }
}