@import '../../mixins.scss';

nav {
  background: linear-gradient(180deg, #6c269b 75%, #271831 95%);
  color: #6cd6fc;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include glass;

  @media (min-width: 768px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  a {
    color: #6cd6fc;
    text-decoration: none;

    &:hover {
      color: #6cd6fc;
    }

    &:visited {
      color: #6cd6fc;
    }
  }
}