@import '../../mixins.scss';

.features {
  margin-top: 3rem;

  .featureWrapper {
    padding: 0.5rem;

    .feature {
      height: 100%;
      border: 1px solid rgba(255, 255, 255, 0.16);

      padding: 1em;

      font-size: 1rem;
      @include glass;
    }
  }
}