.siteWrapper {
  width: 80vw;
  height: 80vh;
  background: #191c29 url(/gradientBG.png);
  background-size: cover;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.5em;
  cursor: pointer;
  padding: 2em;
  font-family: 'Roboto', sans-serif;
  color: #ff6ce8;
  position: relative;

  ::before {
    content: "";
    width: 102%;
    height: 104%;
    border-radius: 8px;
    background-image: linear-gradient(132deg, #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -2%;
    left: -1%;
    animation: spin 2.5s linear infinite;
    filter: blur(100%);
  }

  h1 {
    font-family: Bebas Neue;
    background: #A0F2FF;
    background: linear-gradient(179deg, #6cd6fc 40%, #6c269b 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    margin: 0;
    line-height: 0.8em;
  }

  h3 {
    font-family: Bebas Neue;
    background: #A0F2FF;
    background: linear-gradient(179deg, #6cd6fc 40%, #6c269b 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    margin: 0;
  }

  p {
    padding: 0;
    margin: 0;
  }

  button {
    margin-top: 1em;
    background: linear-gradient(90deg, #cc6dfd 5%, #6cd6fc 60%);
    padding: 0.5em 1em;
    border: none;
    border-radius: 1em;
    width: 150px;
    font-size: 0.8em;
    color: #cff7ff;
  }

  .introContent {
    .wrapper {
      position: relative;
      width: 1000px;
    }

    .title {
    }

    .intro {
      margin-top: 1em;
      font-size: 0.8em;
    }
  }

  .features {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    font-size: 0.75em;
    gap: 4em;

    .feature {
      width: 300px;

      .heading {
        background: linear-gradient(179deg, #6cd6fc 40%, #6c269b 90%);
        font-size: 1.2em;
        font-weight: bold;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .team {
    color: #7e85a7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1050px;
    margin-top: 3em;
    gap: 2em;
    flex-wrap: wrap;

    .member {
      padding: 1em;
      background: #3e4774;
      border-radius: 0.5em;
      box-shadow: 0 0 20px 0 #2d2d2d;
      display: flex;
      flex-direction: column;
      width: 450px;


      .container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .avatar {
          margin-right: 1em;

          img {
            border: none;
            border-radius: 50%;
            width: 64px;
            height: 64px;
          }
        }

        .intro {
          color: #b6b9ce;

          .name {
            font-size: 1em;
          }

          .title {
            font-size: 0.7em;
          }
        }
      }

      .description {
        margin-top: 0.5em;
        font-size: 0.7em;
      }

    }
  }

}
