@import './mixins.scss';

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: #0e183b;
}

.fixedBg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(140deg, #af5ae2 0%, #2b1a58 30%, #0e183c 80%);
}

h1 {
  font-family: Bebas Neue, serif;
  background: #A0F2FF;
  background: linear-gradient(179deg, #6cd6fc 10%, #6c269b 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  margin: 0;
  line-height: 2rem;
  font-size: 2.5rem;
}

h3 {
  font-family: Bebas Neue, sans-serif;
  background: #A0F2FF;
  background: linear-gradient(179deg, #aee1fa 10%, #6c269b 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

p {
  padding: 0;
  margin-bottom: 1em;
}

button {
  margin-top: 1rem;
  background-color: #9d6af5;
}

.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 90% 50%;
  z-index: 1;
  position: fixed;

}


.siteWrapper {
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 5rem;
  font-family: 'Roboto', sans-serif;
  color: #b1b8e5;
  position: relative;
  padding: 5em 1rem 1rem;
  max-width: 1600px;
  @media (min-width: 768px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}


.featuredImage {
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  display: flex;

  img {
    height: 100%;
    object-fit: cover;
    max-height: 1000px;
  }

}

.glassPanel {
  padding: 2em;
  @include glass;
}

.equalHeight {
  height: 100%
}

.panelBottomSpacing {
  margin-bottom: 2em;
}

.verticalCentered {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav .burger~.menu, nav .show:checked~.burger {
  @include glass;
}