body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #402ead;
}

.bg{
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    z-index: 1;
    position: fixed;
}