body {
    width: 100vw;
    height: 100vh;
    background: rgb(55, 28, 101);
    background: linear-gradient(159deg, rgba(55, 28, 101, 1) 0%, rgba(93, 54, 181, 1) 25%, rgba(54, 92, 171, 1) 75%, rgba(29, 61, 103, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}